<div id="cd-nav">
	<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

	<nav id="cd-main-nav">
		<ul>
			<li><a href="{{@blog.url}}" itemprop="url">Home</a></li><!-- 请修改为自己的url -->
			<li><a href="{{@blog.url}}/about/" itemprop="url">About</a></li>
			<li><a href="{{@blog.url}}/lian-xi-fang-shi/" itemprop="url">Contact</a></li>
                        <li><a href="{{@blog.url}}/link/" itemprop="url">link</a></li>
		</ul>
	</nav>
</div>